beaker-py
Bottleneck
cartopy>=0.22.0
fme@git+https://github.com/ai2cm/ace.git@06d145df7bca712f3957d2eaabc20e9b87a4d207#subdirectory=fme
fsspec
gcsfs
h5netcdf
ipywidgets
jupyterlab
matplotlib
netCDF4
nc-time-axis
numpy<2
scipy
wandb
xarray
zarr